body {
  background: rgb(175, 175, 175);
  background: linear-gradient(
    135deg,
    rgba(175, 175, 175, 1) 0%,
    rgba(79, 75, 75, 1) 35%,
    rgba(40, 36, 36, 1) 75%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Lato", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 45px;
}
#search-box {
  padding: 25px 25px;
  display: block;
  margin: 0px auto;
  margin-top: 55px;
  width: 550px;
  background: rgb(133, 129, 129, 0.45);
  border-radius: 15px;
}
#search-bar {
  padding: 10px 5px;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 25px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #b1afaf;
  background-color: rgb(255, 255, 255, 0.5);
  width: 55%;
}
#search-button {
  padding: 10px 20px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
#search-button:hover {
  background-color: #282424;
  border: 1px solid #282424;
  color: white;
}
#info {
  color: #282424;
  font-size: 11px;
  display: block;
  margin-left: 25px;
  margin-top: 5px;
}
footer {
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: #1f1d1d;
}
#answer-box {
  background: rgb(133, 129, 129, 0.45);
  padding: 25px 25px;
  display: block;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 550px;
  border-left: 8px solid #282424;
}
#prayer-answer {
  text-align: center;
}
